<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav mat-elevation-z10"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>Parameters</mat-toolbar>
    <aside class="aside">
      <mat-form-field>
        <mat-select placeholder="Langs" multiple>
          <mat-option value="FR">Français</mat-option>
          <mat-option value="EN">English</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-nav-list class="topics">
        <div mat-list-item><mat-checkbox>JavaScript</mat-checkbox></div>
        <div mat-list-item><mat-checkbox>TypeScript</mat-checkbox></div>
        <div mat-list-item><mat-checkbox>NodeJS</mat-checkbox></div>
      </mat-nav-list>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z5">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
