:host {
  display: block;
}

.card {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  overflow: hidden;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.card-content {
  position: relative;
  width: 100%;
}

.poster {
  display: block;
  height: 100%;
  width: inherit;
  overflow: hidden;
  position: relative;

  .description {
    display: block;
    padding: 16px 32px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    color: #fff;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity ease 300ms 400ms;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform cubic-bezier(.82,.22,.03,1.71) 300ms 400ms;
  }

  &:hover {
    .description {
      opacity: 1;
    }
    img {
      transform: scale(1.05);
    }
  }
}

.loader {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
