<mat-card
  class="card"
  *ngIf="talk"
  [class.mat-elevation-z10]="isHovered"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <mat-card-header>
    <mat-card-title>
      {{ talk.title }}
      <button
        mat-icon-button
        class="more-button"
        [matMenuTriggerFor]="menu"
        aria-label="Toggle menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="loader" *ngIf="!imgLoaded">
    <mat-progress-spinner
      [diameter]="50"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
  </mat-card-content>
  <a
    href="/talk/"
    (click)="$event.preventDefault()"
    mat-card-image
    class="poster"
  >
    <span class="description" *ngIf="talk.description">
      {{ talk.description }}
    </span>
    <img (load)="imgLoaded = true" [src]="talk.thumbnails.high.url" />
  </a>
</mat-card>
